<html lang="en">
    <head>
        {%load static%}
        <meta charset="UTF-8">
        <meta name="description" content="This website is about helping you manage your portfolio">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{%static 'stockassist/UI.css'%}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="{%static 'stockassist/UI.js'%}"></script>
        <script src="{%static 'stockassist/stockrequests.js'%}"></script>
        <script src="{%static 'stockassist/stockinfo.js'%}"></script>

        <title>Stock Assistant</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-light">
            <div class="navbar-nav w-100">
                <a class="navbar-brand px-3 py-2 flex-fill" href="#"><h2>Stock Assistant</h2></a>
                {%if user.is_authenticated%}
                    <span class="nav-item px-3 py-2 flex-fill">
                        <span class="dropdown float-right">
                            <a href="#" class="nav-link dropdown-toggle" id="userdropdown" data-toggle="dropdown">Welcome, {{user.first_name}}</a>
                            <div class="dropdown-menu">
                                <a href="{%url 'stockassist:logout'%}" class="btn btn-outline-danger btn-block btn-sm">Logout</a>
                            </div>
                        </span>
                    </span>
                {%endif%}
            </div>
        </nav>
        <div class="container-fluid">
            <!--Error messsage(if any)-->
            <div class="alert alert-danger" id="errorbox" style="display: none;">
                <strong id="errormessages"></strong>
            </div>
            <!--Fetchprices display box-->
            <div class="alert alert-success" id="loadbox" style="display: none;">
                <strong id="loadmessages"></strong>
            </div>
            <br>
            <span id='market_status' class="pb-5" style="text-align: center; position: relative; width: 20%; margin: auto;">
                {%if market_open%}
                    <p class="text-success" style="text-align: center;">Market is open</p>
                {%else%}
                    <p class="text-danger" style="text-align: center;">Market is closed</p>
                {%endif%}
            </span>
            <input type="text" class="p-2" placeholder="Search stocks by name or symbol" id="search_field">
            <!--Search Results-->
            <div id="search_results" class="shadow-lg">
                <table class="table table-striped">
                    <thead>
                        <tr id="search_header">
                            <th id="watchlist"><h6 class="invisible">Trending</h6></th>
                            <th>Stock Symbol</th>
                            <th>Company name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for stock in stock_result%}
                            <tr id="searchrow_{%cycle '1' '2' '3'%}">
                                <td>
                                    <a class="btn" id="add_to_watchlist_{%cycle '1' '2' '3'%}" href="{%url 'stockassist:addstock' stock.0 stock.1%}">
                                        <i class="material-icons">add</i>
                                    </a>
                                </td>
                                <td class="stk_symbol" id="stock_{%cycle '1' '2' '3'%}">{{stock.0}}</td>
                                <td class="cmpny_nme" id="company_{%cycle '1' '2' '3'%}">{{stock.1}}</td>
                            </tr>
                        {%endfor%}
                            <tr style="display: none" id="searchrow_4">
                                <td>
                                    <a class="btn" id="add_to_watchlist_4" href="#">
                                        <i class="material-icons">add</i>
                                    </a>
                                </td>
                                <td class="stk_symbol" id="stock_4"></td>
                                <td class="cmpny_nme" id="company_4"></td>
                            </tr>
                    </tbody>
                </table>
                <div id="search_panel" class="text-info" style="text-align: center;"><span id="search_spinner"></span><h4 id="search_info_panel">Top Companies</h4></div>
            </div>
            <br>
            <!--Watchlist-->
            <div class="watchlist shadow-lg">
                <br>
                <h4 style="text-align: center;"><b>My stocks</b></h4>
                {%if user.is_authenticated%}
                    <br>
                    <!--Stocks in watchlist-->
                    <ul class="list-group stock-card" style="border-style: solid none none none; border-width: 2px;">
                        {%for stock in watchlist_stocks%}
                            <li class="list-group-item">
                                <div>
                                    <span style="float: left;">
                                        <strong>{{stock.stk_symbol}}</strong>
                                    </span>
                                    <span style="color:cornflowerblue; float: right; font-size: large;" id="watchlist_{{stock.stk_symbol}}">
                                        <strong id="watchlist_price_{{stock.stk_symbol}}">{{stock.stk_price}} </strong> 
                                        <i class="material-icons" style="vertical-align: middle;" id="watchlist_arrow_{{stock.stk_symbol}}">remove</i>
                                    </span>
                                </div>
                                    <br>
                                <div style="position: absolute; width: 90%;">
                                    <span style="float: right; color: cadetblue; display: none;" id="watchlist_netchange_{{stock.stk_symbol}}">+0.00 (0.00%)</span>
                                </div>
                                <br>
                                <div>
                                    <span style="color:dimgray; float: left;">{{stock.stk_name}}</span>
                                </div>
                                <br>
                                    <!--add onclick function wrt stock symbol-->
                                <div>
                                    <span style="float: left;"><a href="#">View details</a></span>
                                    <span style="float: right;">
                                        <a href="{%url 'stockassist:deletestock' stock.stk_symbol%}">
                                            <i class="material-icons" style="color: crimson;">delete</i>
                                        </a>
                                    </span>
                                </div>
                            </li>
                        {%empty%}
                        <!--For empty watchlist-->
                            <li class="list-group-item">
                                <div style="vertical-align: middle;">
                                    <h5 style="text-align: center;" id="no_stocks_in_watchlist">No stocks in watchlist</h5>
                                    <button class="btn btn-success btn-block" onclick="$('#search_field').focus()">Add stock</button>
                                </div>
                            </li>
                        {%endfor%}
                    </ul>
                {%endif%}
            </div>
            <!--Info Panel-->
            <div class="info_panel shadow-lg">
                <div>
                    <ul class="nav justify-content-center py-3" style="position: absolute; width: 100%; border-style: none none solid none; border-width: 2px ;">
                        <li class="nav-item pt-1">
                            <h4 class="{{watchlist_stocks.0.stk_symbol}}" id="stock_info_name"><b class="text-info">{{watchlist_stocks.0.stk_symbol}}</b></h4><!--Add stock symbol in class-->
                        </li>
                    </ul>
                </div>
                <br>
                <br>
                <br>
                <br>
                <!--Info container-->
                <div style="width: 100%; align-content: center; position: absolute;">
                    <!--Important stock info-->
                    <div class="card" style="width: 92%; margin: auto;">
                        <div class="card-header">
                            <strong>About the stock</strong>
                        </div>
                        <div class="card-body">
                            <ul style="width: 49%; float: left; border-style: none solid none none; border-color: silver; border-width: 1px;">
                                <li>52 week range: <span id="52week"></span></li>
                                <li>EPS: <span id="eps"></span></li>
                                <li>Market Cap: <span id="mcap"></span></li>
                                <li>Open: <span id="open"></span></li>
                                <li>Beta: <span id="beta"></span></li>
                            </ul>
                            <ul style="width: 49%; float: right;">
                                <li>Dividend: <span id="dividend"></span></li>
                                <li>P/E Ratio: <span id="peRatio"></span></li>
                                <li>Next Earnings Date: <span id="earningsDate"></span></li>
                                <li>Previous Close: <span id="pClose"></span></li>
                            </ul>
                        </div>
                    </div>
                    <br>
                    <!--If invested in stock-->
                    <button class="btn btn-info ml-4" type="button">Invested in this stock ?</button>
                    <div class="card" style="width: 92%;margin: auto;display: none;">
                        <div class="card-header">
                            My return from this stock
                        </div>
                        <div class="card-body">
                            Some data
                        </div>
                    </div>
                    <br>
                     
                </div>
            </div>
        </div>
    </body>
</html>