<html lang="en">
    <head>
        {%load static%}
        <meta charset="UTF-8">
        <meta name="description" content="This website is about helping you manage your portfolio">
        <meta name="vviewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{%static 'stockassist/UI.css'%}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!--<script src="https://kit.fontawsome.com/6d65510908.js" crossorigin="anonymous"></script>-->
        <script src="{%static 'stockassist/UI.js'%}"></script>
        <script src="{%static 'stockassist/stockrequests.js'%}"></script>

        <title>Stock Assistant</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-light">
            <div class="navbar-nav w-100">
                <a class="navbar-brand px-3 py-2 flex-fill" href="#"><h2>Stock Assistant</h2></a>
                {%if user.is_authenticated%}
                    <span class="nav-item px-3 py-2 flex-fill">
                        <span class="dropdown float-right">
                            <a href="#" class="nav-link dropdown-toggle" id="userdropdown" data-toggle="dropdown">Welcome, {{user.first_name}}</a>
                            <div class="dropdown-menu">
                                <a href="{%url 'stockassist:logout'%}" class="btn btn-outline-danger btn-block btn-sm">Logout</a>
                            </div>
                        </span>
                    </span>
                {%else%}
                    <span class="nav-item px-3 py-2 flex-fill">
                        <button type="button" class="btn btn-primary float-right btn-lg" data-toggle="modal" data-target="#LoginForm">Login</button>
                    </span>
                {%endif%}
            </div>
        </nav>
        <div class="container-fluid">
            {%if notauthenticated%}
                <div class="alert alert-danger alert-dismissible fade show">
                    <strong>User credentials not valid. Please try again</strong>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {%endif%}
            <div class="alert alert-warning alert-dismissible fade show" id="loginrequired" style="display: none;">
                <strong>Please log in to use the watchlist</strong>
                <button class="close" type="button" data-dismiss="alert">&times;</button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" id="errorbox" style="display: none;">
                <strong id="errormessages"></strong>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            <br>
            <input type="text" class="p-2" placeholder="Search stocks by name or symbol" id="search_field">
            <!--Search Results-->
            <div id="search_results" class="shadow-lg">
                <table class="table table-striped">
                    <thead>
                        <tr id="search_header">
                            <th id="watchlist"><h6 class="invisible">Trending</h6></th>
                            <th>Stock Symbol</th>
                            <th>Company name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for stock in stock_result%}
                            <tr id="searchrow_{%cycle '1' '2' '3'%}">
                                {%if user.is_authenticated%}
                                    <td>
                                        <a class="btn" id="add_to_watchlist_{%cycle '1' '2' '3'%}" href="{%url 'stockassist:addstock' stock.0 stock.1%}">
                                            <i class="material-icons">add</i>
                                        </a>
                                    </td>
                                {%else%}
                                <td>
                                    <button type="button" class="btn" onclick="$('#loginrequired').show()">
                                        <i class="material-icons">add</i>
                                    </button>
                                </td>
                                {%endif%}
                                <td class="stk_symbol" id="stock_{%cycle '1' '2' '3'%}">{{stock.0}}</td>
                                <td class="cmpny_nme" id="company_{%cycle '1' '2' '3'%}">{{stock.1}}</td>
                            </tr>
                        {%endfor%}
                            <tr style="display: none" id="searchrow_4">
                                <td>
                                    <a class="btn" id="add_to_watchlist_4" href="#">
                                        <i class="material-icons">add</i>
                                    </a>
                                </td>
                                <td class="stk_symbol" id="stock_4"></td>
                                <td class="cmpny_nme" id="company_4"></td>
                            </tr>
                    </tbody>
                </table>
                <div id="search_panel" class="text-info" style="text-align: center;"><span id="search_spinner"></span><h4 id="search_info_panel">Top Companies</h4></div>
            </div>
            <br>
            <!--Watchlist-->
            <div class="watchlist shadow-lg">
                <br>
                <h4 style="text-align: center;"><b>My stocks</b></h4>
                <span id='market_status' class="pb-5" style="text-align: center; position: absolute; width: 100%">
                    {%if market_open%}
                        <p class="text-success">Market is open</p>
                    {%else%}
                        <p class="text-danger">Market is closed</p>
                    {%endif%}
                </span>
                {%if user.is_authenticated%}
                    <br>
                    <ul class="list-group stock-card">
                        {%for stock in watchlist_stocks%}
                            <li class="list-group-item">
                                    <span style="float: left;"><strong>{{stock.stk_symbol}}</strong></span>
                                    <span style="color:cornflowerblue; float: right; font-size: large;" id="watchlist_{{stock.stk_symbol}}"><strong id="watchlist_price_{{stock.stk_symbol}}">{{stock.stk_price}}</strong> <i class="material-icons" style="vertical-align: middle;" id="watchlist_arrow_{{stock.stk_symbol}}">remove</i>
                                    </span>
                                    <br>
                                    <span style="color:dimgray; float: left;">{{stock.stk_name}}</span>
                                    <br>
                                    <!--add onclick function wrt stock symbol-->
                                    <span style="float: left;"><a href="#">View details</a></span>
                                    <span style="float: right;"><a href="{%url 'stockassist:deletestock' stock.stk_symbol%}"><i class="material-icons" style="color: crimson;">delete</i></a></span>
                            </li>
                        {%empty%}
                            <li class="list-group-item">
                                <div style="vertical-align: middle;">
                                    <h5 style="text-align: center;">No stocks in watchlist</h5>
                                    <button class="btn btn-success btn-block" onclick="$('#search_field').focus()">Add stock</button>
                                </div>
                            </li>
                        {%endfor%}
                    </ul>
                {%endif%}
            </div>
            <!--Info Panel-->
            <div class="info_panel">
                <h4 style="text-align: center;" class="bg-light">info_display</h4>
            </div>
        </div>
        <!--Login modal-->
        <div class="modal fade" id="LoginForm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h3 class="text-primary">Login</h3>
                        </div>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{%url 'stockassist:login'%}">
                            {%csrf_token%}
                            <div class="form-group">
                                <label for="username">Username: </label>
                                <input type="text" class="form-control" name="username" id="username" required>
                            </div>
                            <label for="pwd">Password: </label>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" name="pwd" id="pwd" required>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-light float-right" onclick="changeVis()">
                                        <i class="material-icons" id="togglePwdIcon">visibility_off</i>
                                    </button>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" id="Login_button" onsubmit="login()">Log in</button>
                        </form>
                        <hr>
                        <h4 class="text-center">or</h4>
                        <a href="{% url 'stockassist:signup'%}" class="btn btn-danger btn-block">Sign Up</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-warning float-right">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>